input {
  file {
    type => "syslog"
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog" ]
    start_position => "beginning"
  }
  file {
    type => "nginx-access"
    path => [ "/logs/nginx/access.log"]
  }
    
}

filter {
  if [type] == "nginx-access" {
      grok {
          patterns_dir => "/data/patterns"
          match => { "message" => "%{NGINXACCESS}" }
      }
  }
  date {
    locale => "fr"
    match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
  }
}

output {
  stdout {
    codec => rubydebug
  }

  elasticsearch {
    host => "ES_HOST"
  }
}
